*{
  margin: 0;
  padding: 0;
  background-color: #e1a49d;
}
body{
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
  font-size: 16px
}

h1 { 
  font-weight: bold;
  font-size: 32px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

p {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: white;
}
a:visited {
  color: black;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  
  color: red;
}

.button1 {
  position: relative;
  top: 50px;
  margin: 3px;
  padding: 3px ;
  width:  100px;
  height: 30px;
  background-color: white;
  transition: 0.010s;
  box-shadow: 1px 1px 10px white ;
  border-radius: 20%;

  
}

.pokemon-list li {
  
  list-style-type: none;
}
.button1:visited {
  color : red;
}
.button1:hover,
.button1:focus {
  text-decoration: none;
} 
.button1:active{
  color: red;
}
.background-img {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/pokemon-img.jpeg);
  background-repeat: no-repeat;
  position:absolute;
  background-size: cover;
  background-position: 50% 50%;
  font-size: 32px;
  font-weight: bold;
  color: red;
  

}
